.welcome {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.in-welcome{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}


.profile h1 {
    font-size: 3rem;
    line-height: 1;
    padding-bottom: 2rem;
}

.profile p {
    color: var(--color-subtitle);
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.profile strong{
    color: var(--strong-color);
}

.Networks{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.Networks .link{
    background-color: var(--bg-networks-link);
    border-color: var(--border-networks-link);
    color: var(--color-networks-link);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 9999px;
    height: 24px;
    border: solid 1px;
}


/* Small (sm) */
@media (min-width: 576px) {
    
    
}

/* Medium (md) */
@media (max-width: 768px) {
    .in-welcome{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .profile h1 {
        font-size: 36px;
        line-height: 1;
        padding-bottom: 24px;
    }

    .avatar img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
    
    .profile p {
        font-size: 20px;
        line-height: 1.75rem;
    }

    .Networks .link{
        padding-top: .2rem;
        padding-bottom: .2rem;
        padding-left: .65rem;
        padding-right: .65rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        border-radius: 9999px;
        height: 24px;
        border: solid 1px;
        font-size: 14px;
    }
    
}