header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: .5rem;
    z-index: 10;
}

nav {
    display: flex;
    height: 36px;
    border-radius: 16px;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 14px;
    font-weight: 700;
}

nav .link {
    padding: 8px 8px;
    color: var(--text-color);
    transition: all .2s;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .link.active {
    color: var(--primary-color);
}

nav .link:hover {
    color: var(--primary-color-hover);
}


@media (max-width: 576px) {
    nav {
        font-size: 12px;
        font-weight: 700;
    }
    
    
}

@media (max-width: 400px) {
    nav {
        font-size: 10px;
        font-weight: 700;
    }
    
    
}