header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: .5rem;
    z-index: 10;
}

nav {
    display: flex;
    height: 36px;
    /* animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px; */
    border-radius: 16px;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 14px;
    font-weight: 700;
}


/* @keyframes nav-shadown {
    0% {
        background-color: transparent;
    }

    100% {
        background: rgba(var(--bg-nav), 0.40);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
    }
} */

nav .link {
    padding: 8px 8px;
    color: var(--text-color);
    transition: all .2s;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .link.active {
    color: var(--primary-color);
}

nav .link:hover {
    color: var(--primary-color-hover);
}


@media (max-width: 576px) {
    nav {
        font-size: 12px;
        font-weight: 700;
    }
    /* nav .link.active {
        color: var(--text-color);
    } */
    
    
}

@media (max-width: 400px) {
    nav {
        font-size: 10px;
        font-weight: 700;
    }
    
    
}